:root {
  --font-body: "Roboto", sans-serif;
  --font-headline: "Oswald", sans-serif;
  /* colors */
  --primary-color: #058e3f;
  --secondary-color: #32936f;
  --tertiary-color: #2bc016;
  --variant-color: #096b72;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}
.rule {
  border-bottom: 3px solid var(--secondary-color);
}
header {
  padding: 0.6rem;
  justify-content: space-between;
  display: flex;
  text-align: center;
}
#icon {
  width: 60px;
}
.icon-con {
  display: flex;
  flex-direction: row;
}
#home-link {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#name {
  display: inline;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 900;
  color: var(--variant-color);
  & span {
    color: var(--secondary-color);
  }
}
nav {
  padding: 0.4rem;

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & li {
      text-align: center;

      & a {
        text-decoration: none;
        color: var(--dark-grey);
        padding: 0.2rem;
        font-family: var(--font-body);
        border: 2px solid var(--variant-color);
        border-radius: 8px;
        margin: auto 0.3rem;
        color: var(--variant-color);
      }
      :hover {
        background-color: var(--variant-color);
        color: #fff;
        border: none;
      }
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  & .select-con {
    width: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav-selection {
      width: 30px;
      background-image: url("../public/images/logo/menu-icon-green.png");
      background-size: cover;
      background-repeat: no-repeat;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 30px;
      height: 30px;
      border: none;
      background-position: center;
    }
    .nav-selection:focus {
      outline: none;
    }

    #nav-link {
      width: 100%;
      max-height: 0px;
      background-color: var(--dark-grey);
      text-align: center;
      overflow: hidden;
      transition:
        max-height 0.8s ease,
        opacity 0.8s ease;
      opacity: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      a {
        text-decoration: none;
        display: block;
        font-family: var(--font-body);
        font-size: small;
        padding: 0.2rem;
        color: #fff;
      }
    }
    #nav-link.show {
      max-height: 200px;
      opacity: 1;
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }
}

main {
  margin: 0 auto;
  padding: 2rem;
}
h2 {
  font-family: var(--font-headline);
  padding-bottom: 0.8rem;
  color: var(--primary-color);
}

/* ******************************************
 ** The css rules for the hero images sections
 ** *************************************** */
#hero {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  #heros {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-con {
  position: relative;
  margin-bottom: 2.5rem;
  p {
    text-align: center;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #096b72a4;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-body);
  }
}

/* ******************************************
 ** The css rules for the recently view list.
 ** *************************************** */
.recent-card.close {
  display: none;
}

.recent-card {
  padding: 1.5rem;
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 2.5rem;

  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      list-style-type: none;
      border-radius: 10px;
      box-shadow: 3px 3px 4px var(--primary-color);
      width: 180px;
      max-height: 200px;
      overflow: hidden;
      overflow-y: auto;
      scrollbar-width: 0px;
      margin: 1rem;

      a {
        text-decoration: none;
      }

      .recent-img-con {
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .recent-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        font-family: var(--font-headline);
        color: var(--secondary-color);
        padding-left: 10px;
        font-size: medium;
      }

      p {
        font-family: var(--font-body);
        padding-left: 10px;
        color: var(--secondary-color);
        padding-bottom: 10px;
        font-size: medium;
      }
    }
    .card::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}

/* ******************************************
 ** The css rules for the categories view list.
 ** *************************************** */
.category {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;

  li {
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin: 0.8rem;
    border: 2px solid var(--variant-color);
    border-radius: 10px;
    box-shadow: 2px 3px 3px var(--dark-grey);
    transition: box-shadow 1.5s;

    a {
      text-decoration: none;
      border-radius: 10px;

      h3 {
        padding: 10px;
        font-family: var(--font-headline);
        color: var(--secondary-color);
        font-size: larger;
      }
      p {
        padding: 10px;
        font-family: var(--font-body);
        color: var(--dark-grey);
      }
    }
  }
  li:hover {
    box-shadow: 2px 4px 4px;
    overflow-y: auto;
    scrollbar-width: none;
    animation: cardAnimation 3s ease-in-out infinite;
  }

  li::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@keyframes cardAnimation {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 4px 12px rgba(13, 154, 119, 0.595);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(13, 154, 119, 0.595);
  }
}

/* ******************************************
 ** The css rules for the meals list view.
 ** *************************************** */
.meal {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;

  li {
    width: 200px;
    height: 280px;
    margin: 0.8rem;
    border: 2px solid var(--variant-color);
    border-radius: 10px;
    box-shadow: 2px 3px 3px var(--dark-grey);
    overflow: hidden;
    position: relative;

    a {
      text-decoration: none;

      div {
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
      h3 {
        font-family: var(--font-headline);
        font-size: larger;
        padding-left: 0.4rem;
        padding-top: 0.4rem;
        color: var(--secondary-color);
      }
    }
    .favorite {
      width: 30px;
      height: 30px;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: #000000;
      border-radius: 5px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  li:hover {
    box-shadow: 2px 4px 4px;
    overflow-y: auto;
    scrollbar-width: none;
    animation: cardAnimation 3s ease-in-out infinite;
  }
  li::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
#learn-cat {
  font-family: var(--font-headline);
  font-size: large;
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  color: var(--secondary-color);
}

/* ******************************************
 ** The css rules for the dropdown information
 ** of the the meal in detail page view.
 ** *************************************** */
.dropdown-con {
  width: 100%;
  text-align: left;
  background-color: #148f8a99;
  border: none;
  border-radius: 10px;
  margin: 1rem auto;

  /* The drop down button */
  #dropdown-btn {
    width: 100%;
    padding: 5px;
    font-family: var(--font-headline);
    font-size: large;
    background: none;
    color: #0b0a0a;
    cursor: pointer;
    border: none;
    font-weight: bold;
    position: relative;

    #sign {
      margin-right: 3px;
      display: inline-block;
      transition: transform 0.5s ease;
      position: absolute;
      right: 10px;
    }
    #sign.learn {
      transform: rotate(180deg);
    }
  }
  #dropdown-btn:hover {
    border: 2px solid var(--dark-grey);
    border-radius: 10px;
  }

  #meal-guide {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    font-size: var(--small-font);
    transition: max-height 1.5s ease;

    li {
      padding: 8px;
      font-family: var(--font-body);
    }
  }
  #meal-guide.learn {
    max-height: 400px;
  }
  p {
    width: 100%;
    max-height: 0px;
    padding: 1rem;
    font-family: var(--font-body);
    color: #303030;
    font-size: medium;
    overflow: hidden;
    transition: max-height 1.5s ease;
    background-color: #2fe9e330;
    margin-bottom: 2rem;
  }
  p.learn {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
  }
  p.learn::-webkit-scrollbar {
    width: none;
    background: transparent;
  }
}

#ingredient-title {
  font-family: var(--font-headline);
  padding: 0.6rem;
  font-size: var(--large-font);
  color: var(--variant-color);
}

/* ******************************************
 ** The css rules for the detail page view.
 ** *************************************** */
#details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.details-image-con {
  width: 300px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 10px;

  .details-image {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}
.info {
  color: var(--variant-color);
  font-family: var(--font-headline);
  h3,
  h4,
  p {
    padding: 0.3rem;
  }
}
#meal-youTube {
  text-decoration: none;
  padding: 0.8rem;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  margin-bottom: 1rem;
}
#meal-youTube:hover {
  border: none;
  background-color: red;
  color: white;
}
#add-learn {
  margin: auto 0.8rem;
  padding: 0.6rem;
  font-family: var(--font-body);
  background-color: var(--variant-color);
  color: #fff;
  font-size: medium;
  border: none;
  border-radius: 8px;
}
#add-learn:hover {
  border: 3px solid var(--variant-color);
  background-color: #fff;
  color: var(--variant-color);
}
/* ******************************************
 ** The @media css rules starts from here.
 ** *************************************** */
@media screen and (max-width: 500px) {
  .category {
    li {
      overflow-y: auto;
    }
  }
  #name {
    font-weight: 500;
  }
  #meal-youTube {
    display: block;
  }
}
