:root {
  --font-body: "Roboto", sans-serif;
  --font-headline: "Oswald", sans-serif;
  /* colors */
  --primary-color: #058e3f;
  --secondary-color: #32936f;
  --tertiary-color: #2bc016;
  --variant-color: #096b72;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}
.rule {
  border-bottom: 3px solid var(--secondary-color);
}
header {
  padding: 0.6rem;
  justify-content: space-between;
  display: flex;
  text-align: center;
}
#icon {
  width: 60px;
}
.icon-con {
  display: flex;
  flex-direction: row;
}
#home-link {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#name {
  display: inline;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 900;
  color: var(--variant-color);
  & span {
    color: var(--secondary-color);
  }
}
nav {
  padding: 0.4rem;

  & ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & li {
      text-align: center;

      & a {
        text-decoration: none;
        color: var(--dark-grey);
        padding: 0.2rem;
        font-family: var(--font-body);
        border: 2px solid var(--variant-color);
        border-radius: 8px;
        margin: auto 0.3rem;
        color: var(--variant-color);
      }
      :hover {
        background-color: var(--variant-color);
        color: #fff;
        border: none;
      }
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  & .select-con {
    width: 120px;
    height: auto;

    .nav-selection {
      width: 100%;
      background-image: url("../public/images/logo/menu-icon-green.png");
      background-size: cover;
      background-repeat: no-repeat;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 30px;
      height: 30px;
      border: none;
      background-position: center;

      #empty {
        display: none;
      }
    }
    .nav-selection:focus {
      outline: none;
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }
}

/* ******************************************
 ** The css rules for the hero images sections
 ** *************************************** */
#hero {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  #heros {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-con {
  position: relative;
  margin-bottom: 2.5rem;
  p {
    text-align: center;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #096b72a4;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-body);
  }
}

/* ******************************************
 ** The css rules for the recently view list.
 ** *************************************** */
.recent-card {
  padding: 1.5rem;
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 2.5rem;

  h2 {
    font-family: var(--font-headline);
    padding-bottom: 0.8rem;
    color: var(--primary-color);
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      list-style-type: none;
      border-radius: 10px;
      box-shadow: 3px 3px 4px var(--primary-color);

      .recent-img-con {
        width: 200px;
        height: 140px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .recent-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        font-family: var(--font-headline);
        color: var(--secondary-color);
        padding-left: 10px;
        font-size: medium;
      }

      p {
        font-family: var(--font-body);
        padding-left: 10px;
        color: var(--secondary-color);
        padding-bottom: 10px;
        font-size: medium;
      }
    }
  }
}
/* ******************************************
 ** The @media css rules starts from here.
 ** *************************************** */
@media screen and(min-width: 500px) {
}
