<div class="icon-con">
  <a id="home-link" href="/">
    <div>
      <img id="icon" src="/images/logo/site-icon.png" alt="site-icon.png" />
    </div>
    <div id="name">CATERING-<span>PAL</span></div>
  </a>
</div>
<nav>
  <ul class="nav-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/favorite/">Favorite</a>
    </li>
    <li><a href="/learned/">Learned</a></li>
  </ul>
  <div class="select-con">
    <select class="nav-selection" name="nav-link" id="select-nav">
      <option id="empty" selected></option>
      <option><a href="/">Home</a></option>
      <option><a href="/favorite/">Favorite</a></option>
      <option><a href="/learned/">Learned</a></option>
    </select>
  </div>
</nav>
