<div class="icon-con">
  <a id="home-link" href="/">
    <div>
      <img id="icon" src="/images/logo/site-icon.png" alt="site-icon.png" />
    </div>
    <div id="name">CATERING-<span>PAL</span></div>
  </a>
</div>
<nav>
  <ul class="nav-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li><a href="/learned/">Learned</a></li>
    <li>
      <a href="/about/">About Us</a>
    </li>
  </ul>

  <div class="select-con">
    <div class="nav-selection" id="select-nav"></div>
    <div id="nav-link">
      <a href="/">Home</a>
      <a href="/learned/">Learned</a>
      <a href="/about/">About Us</a>
    </div>
  </div>
</nav>
